{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    
    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <label>Edit Title:</label>
        <input type="text" placeholder="Enter a new title" name="new_title" value="{{ title }}">

        <br/>
        <label>Markdown content:</label>
        <br/>

        <textarea rows="4" cols="20" name="new_content">{{ content }}</textarea>
        <br/>

        <div class="button-container">
            <input type="submit" value="Modify" class="btn btn-warning">
            <form action="{% url 'entry' title=title %}" method="POST" class="inline-form">
                {% csrf_token %}
                <input type="submit" value="Cancel" class="btn btn-danger">
            </form>
        </div>
    </form>
{% endblock %}